<%- include('partials/header') -%>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="https://github.com/kiefer-dev/Lets-Eat/blob/main/public/img/pexels-dmitry-zvolskiy-2253643.jpg?raw=true"
        class="max-w-sm rounded-lg shadow-2xl" alt="Royalty-free image of a restaurant by Dmitry Zvolskiy" />
      <div class="flex flex-column justify-center items-center">
        <!-- <h1 class="text-5xl font-bold">Let's Eat!</h1> -->
        <img src="https://github.com/kiefer-dev/Lets-Eat/blob/main/public/img/Let_s-removebg-preview-small.png?raw=true"
          alt="Logo for Let's Eat!">
        <p class="py-6">The Social Experience for Local Restaurants, Bars, & Everything In Between</p>
        <div>
          <button class="btn btn-secondary btn-outline" onclick="location.href='/login'">Login</button>
          <button class="btn btn-outline" onclick="location.href='/signup'">Create Account</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>