<%- include('partials/header') -%>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Signup and Let's Eat!</h1>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
              <div class="alert alert-danger">
                <%= el.msg %>
              </div>
              <% }) %>
                <% } %>
                  <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el=> { %>
                      <div class="alert alert-info">
                        <%= el.msg %>
                      </div>
                      <% }) %>
                        <% } %>
                          <form action="/signup" method="POST">
                            <div class="form-control">
                              <label class="label" for="userName">
                                <span class="label-text">Username</span>
                              </label>
                              <input type="text" placeholder="username" class="input input-bordered" id="userName"
                                name="userName" />
                            </div>
                            <div class="form-control">
                              <label class="label">
                                <span class="label-text" for="email">Email</span>
                              </label>
                              <input type="text" placeholder="email" class="input input-bordered" id="email"
                                aria-describedby="emailHelp" name="email" />
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="form-control">
                              <label class="label" for="password">
                                <span class="label-text">Password</span>
                              </label>
                              <input type="password" placeholder="password" class="input input-bordered" id="password"
                                name="password" />
                            </div>
                            <div class="form-control">
                              <label class="label" for="confirmPassword">
                                <span class="label-text">Confirm Password</span>
                              </label>
                              <input type="password" placeholder="confirm" class="input input-bordered"
                                id="confirmPassword" name="confirmPassword" />
                            </div>
                            <div class="form-control mt-6">
                              <button class="btn btn-secondary" type="submit">Signup!</button>
                            </div>
                          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>